<h1 class="page-header">{{vm.pageTitle}}</h1>

<form class="form-horizontal" name="addUserForm" ng-submit="vm.submitUser(vm.form)">
	<legend>Dados do Usuário</legend>

	<div class="form-group" ng-if="vm.form.id">
		<label for="name" class="control-label col-sm-2">ID:</label>
		<div class="col-sm-10">
			<p class="help-block">{{ vm.form.id }}</p>
		</div>
	</div>

	<div class="form-group">
		<label for="name" class="control-label col-sm-2">Nome:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="vm.form.name" name="name" placeholder="Digite um nome" required>
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="control-label col-sm-2">E-mail:</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" ng-model="vm.form.email" ng-disabled="vm.form.id" name="email" placeholder="Digite um e-mail" required>
		</div>
	</div>

	<div class="form-group" ng-if="!vm.form.id">
		<label for="password" class="control-label col-sm-2">Senha:</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" ng-model="vm.form.password" name="password" placeholder="Digite uma senha" required>
		</div>
	</div>

	<div class="form-group">
		<label for="computers" class="control-label col-sm-2">Computadores</label>
		<div class="col-sm-10">
			<multiple-autocomplete ng-model="vm.form.computers" object-property="name" suggestions-arr="vm.computers"></multiple-autocomplete>
		</div>
	</div>

	<div class="form-group">
		<label for="description" class="control-label col-sm-2">Descrição</label>
		<div class="col-sm-10">
			<textarea name="description" ui-tinymce ng-model="vm.form.description" id="description"></textarea>
		</div>
	</div>

	<div class="form-group" ng-show="vm.ajaxValidationErrors">
		<div class="col-sm-10 col-sm-offset-2">
			<ul class="list-unstyled alert alert-danger">
				<li ng-repeat="error in vm.ajaxValidationErrors">{{ error[0] }}</li>
			</ul>
		</div>
	</div>

	<div class="form-group text-right">
		<p class="control-label col-sm-10">{{ vm.ajaxMessage }}</p>
		<div class="col-sm-2">
			<button type="submit" class="btn btn-block btn-success" ng-disabled="vm.disableSubmitButton">{{ vm.ajaxAction }}</button>
		</div>
	</div>
</form>