<h1 class="page-header">{{vm.pageTitle}}</h1>

<div class="table-responsive" ng-if="vm.users.length">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Ações</th>
				<th>Id</th>
				<th>Nome</th>
				<th>E-mail</th>
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="user in vm.users | itemsPerPage: 10">
				<td>
					<a href="user/{{ user.id }}" class="btn btn-xs btn-info" uib-tooltip="Editar">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<a href="#" class="btn btn-xs btn-danger" ng-click="vm.removeUser(user)" uib-tooltip="Excluir">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
					<a href="show/user/{{ user.id }}" class="btn btn-xs btn-primary" uib-tooltip="Visualizar">
						<span class="glyphicon glyphicon-eye-open"></span>
					</a>
				</td>
				<td class="text-muted">{{ user.id }}</td>
				<td>{{ user.name }}</td>
				<td>{{ user.email }}</td>
			</tr>
		</tbody>
	</table>

	<dir-pagination-controls></dir-pagination-controls>
</div>


<p class="alert alert-warning text-center" ng-if="!vm.users.length">Nenhum usuário encontrado</p>