<h1 class="page-header">{{ vm.pageTitle.replace('Editar', 'Visualizar') }}</h1>

<div class="row">
	<div class="col-sm-6">
		<dl class="dl-horizontal">
			<dt>Id:</dt>
			<dd>{{ vm.form.id }}</dd>

			<dt>Nome:</dt>
			<dd>{{ vm.form.name }}</dd>

			<dt>E-mail:</dt>
			<dd>{{ vm.form.email }}</dd>

			<dt>Cadastrado em:</dt>
			<dd>{{ vm.form.created_at }}</dd>

			<dt>Computadores:</dt>
			<dd>{{ vm.form.computers.length }}</dd>

			<dt>Descruição:</dt>
			<dd ng-bind-html="vm.form.description"></dd>
		</dl>
	</div>
	<div class="col-sm-6" ng-if="vm.form.computers.length">
		<h4>Computadores que possui:</h4>
		<ol class="list-unstyled">
			<li ng-repeat="computer in vm.form.computers">
				<small class="text-muted">(id: {{ computer.id }})</small>
				<b>{{ computer.name }}</b> comprado em: {{ computer.created_at }}
				<a href="#" class="text-danger" ng-click="vm.removeComputer(vm.form, computer)" uib-tooltip="Remover computador"><b>&times;</b></a>
			</li>
		</ol>
	</div>
</div>