<!DOCTYPE html>
<html ng-app="app">
<head>
	<base href="/angular/">
	<meta charset="utf-8">
	<title>Angular</title>

	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

	<style type="text/css">
		.dropdown:hover .dropdown-menu {
			display: block;
		}

		footer.well {
			margin-bottom: 0;
		}
	</style>

	<!-- <script type="text/javascript" src="./dist/bundle.js"></script> -->
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="src/scripts.js"></script>
	<script type="text/javascript" src="src/controllers/usersController.js"></script>
	<script type="text/javascript" src="src/controllers/usersEditController.js"></script>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./">Angular</a>
			</div>

			<div class="collapse navbar-collapse header-navbar">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuários <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="users">Listar</a></li>
							<li><a href="users/create">Criar</a></li>
						</ul>
					</li>
					<li><a href="computers">Computadores</a></li>
					<li><a href="components">Componentes</a></li>
					<li><a href="types">Tipos de Componentes</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">

		<div ng-view></div>

	</div>

	<footer class="well well-sm text-center">&copy; Sistema de computadores</footer>

</body>
</html>