<!DOCTYPE html>
<html ng-app="app">
<head>
	<base href="/angular/">
	<meta charset="utf-8">
	<title>Angular</title>

	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

	<style type="text/css">
		.horizontal-collapse { height: 70px; }
		.navbar-collapse.in { overflow-y: hidden; }
		footer.well { margin-bottom: 0; }
	</style>

	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-touch/angular-touch.min.js"></script>
	<script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

	<script type="text/javascript" src="src/app.js"></script>
	<script type="text/javascript" src="src/constants.js"></script>
	<script type="text/javascript" src="src/configBootstrap.js"></script>
	<script type="text/javascript" src="src/services/usersService.js"></script>
	<script type="text/javascript" src="src/controllers/usersController.js"></script>
</head>
<body>

	<div ng-include="'src/views/header.html'"></div>

	<div class="container">
		<div ng-view></div>
	</div>

	<div ng-include="'src/views/footer.html'"></div>

</body>
</html>