<h1 class="page-header">{{ vm.pageTitle.replace('Editar', 'Visualizar') }}</h1>

<div class="row">
	<div class="col-sm-6">
		<dl class="dl-horizontal">
			<dt>Id:</dt>
			<dd>{{ vm.form.id }}</dd>

			<dt>Nome:</dt>
			<dd>{{ vm.form.name }}</dd>

			<dt>Cadastrado em:</dt>
			<dd>{{ vm.form.created_at }}</dd>

			<dt>Usuários:</dt>
			<dd>{{ vm.form.users.length }}</dd>
		</dl>
	</div>
	<div class="col-sm-6" ng-if="vm.form.users.length">
		<h4>Usuários que possuem este computador:</h4>
		<ol class="list-unstyled">
			<li ng-repeat="user in vm.form.users"><b>{{ user.name }}</b> comprado em: {{ user.created_at }}</li>
		</ol>
	</div>
</div>